@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --fundotitulo: #0085B2;
    --cortitulo: #fff;
    --corbotao: #009400;
    --fonte: "Roboto", sans-serif;

}

h1{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: var(--fonte);
    font-weight: 400;
}


.caixa{
    width: 1000px;
    margin: 0 auto;
}

.caixa > h2{
    font-family: var(--fonte);
    background-color: var(--fundotitulo);
    color:var(--cortitulo);
    max-width: 1000px;
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

.formulario{
    display: flex;
    flex-wrap: wrap;
    width: 997px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;

}

.formulario > button{
    border-radius: 6px;
    height: 30px;
    width: 700px;
    background-color: #019E0F;
    margin-top: 40px;
    margin-bottom: 60px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    color: var(--cortitulo);
    font-family: var(--fonte);
    margin: 0 auto;
}

.conteudo.error > input{
    border-color: #ff0000ca;
}

.conteudo.error > p{
    color: #ff0000ca;
    visibility: visible;
}

.conteudo{
    flex: 1 1 45%;
}

.conteudo > label{
    font-size: 18px;
    font-family: var(--fonte);
    font-weight: 500;
}

.conteudo > input{
    width: 450px;
    height: 25px;
    border-radius: 6px;
}


#cnpj, #inscricaoestadual, #inscricaomunicipal, #numero{
    width: 350px;
}

#cep{
    width: 310px;
}

.conteudo > p{
    color: #d20000a7;
    left: 0;
    visibility: hidden;
}

#complemento{
    width: 850px;
}

#bairro, #municipio, #estado{
    width: 268px;
}

.localizacao{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#nomecontato, #telefone, #email{
    width: 268px;
}

.contato{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#produto{
    width: 848px;
}

.infoproduto{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#quantidade, #valorunitario, #valortotal, #unidademedida{
    width: 195px;
    margin-bottom: 20px;
    height: 25px;
}

.formulario > h2{
    font-family: var(--fonte);
    background-color: var(--fundotitulo);
    color:var(--cortitulo);
    max-width: 1000px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}


/*.anexos > h2{
    color: var(--cortitulo);
    background-color: var(--fundotitulo);
    max-width: 1207px;
    margin-top: 20px;
}

.anexos > button{
    background-color: var(--corbotao);
    width: 700px;
    height: 30px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}*/